In [6]:
import pandas as pd

In [6]:
pip install yfinance --upgrade --no-cache-dir

Requirement already satisfied: yfinance in c:\users\keertana\appdata\local\programs\python\python39\lib\site-packages (0.2.14)
Requirement already satisfied: frozendict>=2.3.4 in c:\users\keertana\appdata\local\programs\python\python39\lib\site-packages (from yfinance) (2.3.6)
Requirement already satisfied: lxml>=4.9.1 in c:\users\keertana\appdata\local\programs\python\python39\lib\site-packages (from yfinance) (4.9.1)
Requirement already satisfied: numpy>=1.16.5 in c:\users\keertana\appdata\local\programs\python\python39\lib\site-packages (from yfinance) (1.23.3)
Requirement already satisfied: appdirs>=1.4.4 in c:\users\keertana\appdata\local\programs\python\python39\lib\site-packages (from yfinance) (1.4.4)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\keertana\appdata\local\programs\python\python39\lib\site-packages (from yfinance) (0.0.11)
Requirement already satisfied: html5lib>=1.1 in c:\users\keertana\appdata\local\programs\python\python39\lib\site-packages (from yfinance) (1.1)
Requirement already satisfied: cryptography>=3.3.2 in c:\users\keertana\appdata\local\programs\python\python39\lib\site-packages (from yfinance) (40.0.1)
Requirement already satisfied: requests>=2.26 in c:\users\keertana\appdata\local\programs\python\python39\lib\site-packages (from yfinance) (2.26.0)
Requirement already satisfied: pytz>=2022.5 in c:\users\keertana\appdata\local\programs\python\python39\lib\site-packages (from yfinance) (2023.3)
Requirement already satisfied: pandas>=1.3.0 in c:\users\keertana\appdata\local\programs\python\python39\lib\site-packages (from yfinance) (1.5.0)
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\keertana\appdata\local\programs\python\python39\lib\site-packages (from yfinance) (4.12.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\keertana\appdata\local\programs\python\python39\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.2.1)
Requirement already satisfied: cffi>=1.12 in c:\users\keertana\appdata\local\programs\python\python39\lib\site-packages (from cryptography>=3.3.2->yfinance) (1.15.1)
Requirement already satisfied: webencodings in c:\users\keertana\appdata\local\programs\python\python39\lib\site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: six>=1.9 in c:\users\keertana\appdata\local\programs\python\python39\lib\site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\keertana\appdata\local\programs\python\python39\lib\site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\keertana\appdata\local\programs\python\python39\lib\site-packages (from requests>=2.26->yfinance) (2.0.7)
Requirement already satisfied: idna<4,>=2.5 in c:\users\keertana\appdata\local\programs\python\python39\lib\site-packages (from requests>=2.26->yfinance) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\keertana\appdata\local\programs\python\python39\lib\site-packages (from requests>=2.26->yfinance) (1.26.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\keertana\appdata\local\programs\python\python39\lib\site-packages (from requests>=2.26->yfinance) (2021.5.30)
Requirement already satisfied: pycparser in c:\users\keertana\appdata\local\programs\python\python39\lib\site-packages (from cffi>=1.12->cryptography>=3.3.2->yfinance) (2.21)
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution -rotobuf (c:\users\keertana\appdata\local\programs\python\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\keertana\appdata\local\programs\python\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\keertana\appdata\local\programs\python\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\keertana\appdata\local\programs\python\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\keertana\appdata\local\programs\python\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\keertana\appdata\local\programs\python\python39\lib\site-packages)

[notice] A new release of pip available: 22.3 -> 23.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [7]:
import yfinance as yf
# for datetime
import datetime as dt

In [8]:
# scrape wiki for individual stock symbols in s&p500
table = pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')
table = table[0]

In [9]:
# rename these 2 companies to yahoo finance symbo format
table['Symbol'] = table['Symbol'].replace({'BRK.B': 'BRK-B'})
table['Symbol'] = table['Symbol'].replace({'BF.B': 'BF-B'})

In [10]:
# extract only symbols from table
symbols = table['Symbol'].values.tolist()

In [11]:
# get 3 years data
start_date = dt.datetime(2017,1,1)
end_date = dt.datetime(2020,1,4)

In [12]:
stockdata=yf.download(symbols,start=start_date,end=end_date)

[*********************100%***********************]  503 of 503 completed

12 Failed downloads:
- PGR: No data found for this date range, symbol may be delisted
- CARR: Data doesn't exist for startDate = 1483246800, endDate = 1578114000
- GEHC: Data doesn't exist for startDate = 1483246800, endDate = 1578114000
- HES: No data found for this date range, symbol may be delisted
- OTIS: Data doesn't exist for startDate = 1483246800, endDate = 1578114000
- URI: No data found for this date range, symbol may be delisted
- OGN: Data doesn't exist for startDate = 1483246800, endDate = 1578114000
- CEG: Data doesn't exist for startDate = 1483246800, endDate = 1578114000
- ABC: No data found for this date range, symbol may be delisted
- GL: No data found for this date range, symbol may be delisted
- COST: No data found for this date range, symbol may be delisted
- ECL: No data found for this date range, symbol may be delisted

In [13]:
stockdata.head(10)

                     Adj Close                                               \
                             A        AAL         AAP       AAPL       ABBV
Date
2017-01-03 00:00:00  44.295280  44.741222  160.039322  27.133331  47.287491
2017-01-04 00:00:00  44.876472  45.127762  161.352631  27.102955  47.954262
2017-01-05 00:00:00  44.342915  44.345032  161.240097  27.240786  48.317951
2017-01-06 00:00:00  45.724468  44.654263  159.129333  27.544470  48.333103
2017-01-09 00:00:00  45.867382  45.494972  159.035538  27.796768  48.651333
2017-01-10 00:00:00  45.829266  46.847832  159.401398  27.824797  48.545261
2017-01-11 00:00:00  46.924976  47.002453  162.694077  27.974306  46.792637
2017-01-12 00:00:00  46.229439  46.480625  163.669754  27.857504  46.899788
2017-01-13 00:00:00  46.391418  46.045784  163.969955  27.808447  47.443176
2017-01-17 00:00:00  46.038891  45.176083  162.290726  28.032709  47.343681

                                                                       ...  \
                    ABC        ABT       ACGL         ACN        ADBE  ...
Date                                                                   ...
2017-01-03 00:00:00 NaN  34.993313  28.629999  105.776184  103.480003  ...
2017-01-04 00:00:00 NaN  35.271118  28.833332  106.030487  104.139999  ...
2017-01-05 00:00:00 NaN  35.575802  28.540001  104.441040  105.910004  ...
2017-01-06 00:00:00 NaN  36.543602  28.823334  105.630859  108.300003  ...
2017-01-09 00:00:00 NaN  36.507759  28.406668  104.450119  108.570000  ...
2017-01-10 00:00:00 NaN  37.000618  28.770000  104.504631  108.260002  ...
2017-01-11 00:00:00 NaN  37.050228  28.786667  105.467369  108.989998  ...
2017-01-12 00:00:00 NaN  36.725544  29.049999  105.158577  108.589996  ...
2017-01-13 00:00:00 NaN  36.914944  29.006666  106.221237  108.529999  ...
2017-01-17 00:00:00 NaN  36.887886  28.916668  105.385635  108.000000  ...

                      Volume                                                \
                        WYNN      XEL       XOM     XRAY      XYL      YUM
Date
2017-01-03 00:00:00  2703500  2065100  10360600  1778000  1596700  4793400
2017-01-04 00:00:00  2598800  2542600   9434200   978300  1703000  2835200
2017-01-05 00:00:00  2507500  2611900  14443200  1114500  1846000  4040000
2017-01-06 00:00:00  1858400  1707400  16518100  1169600  1561600  2863800
2017-01-09 00:00:00  2776200  1840100  13762300   950600  1090400  1944200
2017-01-10 00:00:00  3055400  1761300  13283100  1596000  1642500  2560700
2017-01-11 00:00:00  2207300  1870500  11183700  1723700  1974100  1268000
2017-01-12 00:00:00  1904000  2614000  10407000  1951000  1784600  1049900
2017-01-13 00:00:00  1527100  2067900   8415600  1669900  2811300  1557700
2017-01-17 00:00:00  2008600  1898300  13237300  1765400  1228600  1596000


                         ZBH    ZBRA     ZION      ZTS
Date
2017-01-03 00:00:00  1422533  388200  2896200  3579700
2017-01-04 00:00:00  1547884  463200  1907500  3316300
2017-01-05 00:00:00  1497517  486600  2106000  2469100
2017-01-06 00:00:00  1875630  308300  2149100  2845800
2017-01-09 00:00:00  1198199  263300  2104900  2123300
2017-01-10 00:00:00  4092602  420500  1839600  2087100
2017-01-11 00:00:00  2559550  346100  2102200  3400500
2017-01-12 00:00:00  1593101  456500  2758200  1513600
2017-01-13 00:00:00  1065329  402400  2732500  2458700
2017-01-17 00:00:00  1278642  199500  2889200  2213400

[10 rows x 3018 columns]

In [18]:
df = pd.DataFrame(stockdata)

In [39]:
df.head(10)

                     Adj Close                                               \
                             A        AAL         AAP       AAPL       ABBV
Date
2017-01-03 00:00:00  44.295280  44.741222  160.039322  27.133331  47.287491
2017-01-04 00:00:00  44.876472  45.127762  161.352631  27.102955  47.954262
2017-01-05 00:00:00  44.342915  44.345032  161.240097  27.240786  48.317951
2017-01-06 00:00:00  45.724468  44.654263  159.129333  27.544470  48.333103
2017-01-09 00:00:00  45.867382  45.494972  159.035538  27.796768  48.651333
2017-01-10 00:00:00  45.829266  46.847832  159.401398  27.824797  48.545261
2017-01-11 00:00:00  46.924976  47.002453  162.694077  27.974306  46.792637
2017-01-12 00:00:00  46.229439  46.480625  163.669754  27.857504  46.899788
2017-01-13 00:00:00  46.391418  46.045784  163.969955  27.808447  47.443176
2017-01-17 00:00:00  46.038891  45.176083  162.290726  28.032709  47.343681

                                                                       ...  \
                    ABC        ABT       ACGL         ACN        ADBE  ...
Date                                                                   ...
2017-01-03 00:00:00 NaN  34.993313  28.629999  105.776184  103.480003  ...
2017-01-04 00:00:00 NaN  35.271118  28.833332  106.030487  104.139999  ...
2017-01-05 00:00:00 NaN  35.575802  28.540001  104.441040  105.910004  ...
2017-01-06 00:00:00 NaN  36.543602  28.823334  105.630859  108.300003  ...
2017-01-09 00:00:00 NaN  36.507759  28.406668  104.450119  108.570000  ...
2017-01-10 00:00:00 NaN  37.000618  28.770000  104.504631  108.260002  ...
2017-01-11 00:00:00 NaN  37.050228  28.786667  105.467369  108.989998  ...
2017-01-12 00:00:00 NaN  36.725544  29.049999  105.158577  108.589996  ...
2017-01-13 00:00:00 NaN  36.914944  29.006666  106.221237  108.529999  ...
2017-01-17 00:00:00 NaN  36.887886  28.916668  105.385635  108.000000  ...

                      Volume                                                \
                        WYNN      XEL       XOM     XRAY      XYL      YUM
Date
2017-01-03 00:00:00  2703500  2065100  10360600  1778000  1596700  4793400
2017-01-04 00:00:00  2598800  2542600   9434200   978300  1703000  2835200
2017-01-05 00:00:00  2507500  2611900  14443200  1114500  1846000  4040000
2017-01-06 00:00:00  1858400  1707400  16518100  1169600  1561600  2863800
2017-01-09 00:00:00  2776200  1840100  13762300   950600  1090400  1944200
2017-01-10 00:00:00  3055400  1761300  13283100  1596000  1642500  2560700
2017-01-11 00:00:00  2207300  1870500  11183700  1723700  1974100  1268000
2017-01-12 00:00:00  1904000  2614000  10407000  1951000  1784600  1049900
2017-01-13 00:00:00  1527100  2067900   8415600  1669900  2811300  1557700
2017-01-17 00:00:00  2008600  1898300  13237300  1765400  1228600  1596000


                         ZBH    ZBRA     ZION      ZTS
Date
2017-01-03 00:00:00  1422533  388200  2896200  3579700
2017-01-04 00:00:00  1547884  463200  1907500  3316300
2017-01-05 00:00:00  1497517  486600  2106000  2469100
2017-01-06 00:00:00  1875630  308300  2149100  2845800
2017-01-09 00:00:00  1198199  263300  2104900  2123300
2017-01-10 00:00:00  4092602  420500  1839600  2087100
2017-01-11 00:00:00  2559550  346100  2102200  3400500
2017-01-12 00:00:00  1593101  456500  2758200  1513600
2017-01-13 00:00:00  1065329  402400  2732500  2458700
2017-01-17 00:00:00  1278642  199500  2889200  2213400

[10 rows x 3018 columns]

In [56]:
print(df.index)

DatetimeIndex(['2017-01-03', '2017-01-04', '2017-01-05', '2017-01-06',
               '2017-01-09', '2017-01-10', '2017-01-11', '2017-01-12',
               '2017-01-13', '2017-01-17',
               ...
               '2019-12-19', '2019-12-20', '2019-12-23', '2019-12-24',
               '2019-12-26', '2019-12-27', '2019-12-30', '2019-12-31',
               '2020-01-02', '2020-01-03'],
              dtype='datetime64[ns]', name='Date', length=756, freq=None)

In [53]:
df.index.names=['Date']

In [47]:
df = df.reset_index(drop=True)

In [55]:
df.head()

            Adj Close                                                   \
                    A        AAL         AAP       AAPL       ABBV ABC
Date
2017-01-03  44.295280  44.741222  160.039322  27.133331  47.287491 NaN
2017-01-04  44.876472  45.127762  161.352631  27.102955  47.954262 NaN
2017-01-05  44.342915  44.345032  161.240097  27.240786  48.317951 NaN
2017-01-06  45.724468  44.654263  159.129333  27.544470  48.333103 NaN
2017-01-09  45.867382  45.494972  159.035538  27.796768  48.651333 NaN

                                                          ...   Volume  \
                  ABT       ACGL         ACN        ADBE  ...     WYNN
Date                                                      ...
2017-01-03  34.993313  28.629999  105.776184  103.480003  ...  2703500
2017-01-04  35.271118  28.833332  106.030487  104.139999  ...  2598800
2017-01-05  35.575802  28.540001  104.441040  105.910004  ...  2507500
2017-01-06  36.543602  28.823334  105.630859  108.300003  ...  1858400
2017-01-09  36.507759  28.406668  104.450119  108.570000  ...  2776200

                                                                           \
                XEL       XOM     XRAY      XYL      YUM      ZBH    ZBRA
Date
2017-01-03  2065100  10360600  1778000  1596700  4793400  1422533  388200
2017-01-04  2542600   9434200   978300  1703000  2835200  1547884  463200
2017-01-05  2611900  14443200  1114500  1846000  4040000  1497517  486600
2017-01-06  1707400  16518100  1169600  1561600  2863800  1875630  308300
2017-01-09  1840100  13762300   950600  1090400  1944200  1198199  263300


               ZION      ZTS
Date
2017-01-03  2896200  3579700
2017-01-04  1907500  3316300
2017-01-05  2106000  2469100
2017-01-06  2149100  2845800
2017-01-09  2104900  2123300

[5 rows x 3018 columns]

In [41]:

# printing all columns of the dataframe
date=[]
for i in df.index:
    i=i.date()
    print(i)
    date.append(i)

   
df['Datenew']=date
df.head(10)
    
#print(df.index)

2017-01-03
2017-01-04
2017-01-05
2017-01-06
2017-01-09
2017-01-10
2017-01-11
2017-01-12
2017-01-13
2017-01-17
2017-01-18
2017-01-19
2017-01-20
2017-01-23
2017-01-24
2017-01-25
2017-01-26
2017-01-27
2017-01-30
2017-01-31
2017-02-01
2017-02-02
2017-02-03
2017-02-06
2017-02-07
2017-02-08
2017-02-09
2017-02-10
2017-02-13
2017-02-14
2017-02-15
2017-02-16
2017-02-17
2017-02-21
2017-02-22
2017-02-23
2017-02-24
2017-02-27
2017-02-28
2017-03-01
2017-03-02
2017-03-03
2017-03-06
2017-03-07
2017-03-08
2017-03-09
2017-03-10
2017-03-13
2017-03-14
2017-03-15
2017-03-16
2017-03-17
2017-03-20
2017-03-21
2017-03-22
2017-03-23
2017-03-24
2017-03-27
2017-03-28
2017-03-29
2017-03-30
2017-03-31
2017-04-03
2017-04-04
2017-04-05
2017-04-06
2017-04-07
2017-04-10
2017-04-11
2017-04-12
2017-04-13
2017-04-17
2017-04-18
2017-04-19
2017-04-20
2017-04-21
2017-04-24
2017-04-25
2017-04-26
2017-04-27
2017-04-28
2017-05-01
2017-05-02
2017-05-03
2017-05-04
2017-05-05
2017-05-08
2017-05-09
2017-05-10
2017-05-11
2017-05-12
2017-05-15
2017-05-16
2017-05-17
2017-05-18
2017-05-19
2017-05-22
2017-05-23
2017-05-24
2017-05-25
2017-05-26
2017-05-30
2017-05-31
2017-06-01
2017-06-02
2017-06-05
2017-06-06
2017-06-07
2017-06-08
2017-06-09
2017-06-12
2017-06-13
2017-06-14
2017-06-15
2017-06-16
2017-06-19
2017-06-20
2017-06-21
2017-06-22
2017-06-23
2017-06-26
2017-06-27
2017-06-28
2017-06-29
2017-06-30
2017-07-03
2017-07-05
2017-07-06
2017-07-07
2017-07-10
2017-07-11
2017-07-12
2017-07-13
2017-07-14
2017-07-17
2017-07-18
2017-07-19
2017-07-20
2017-07-21
2017-07-24
2017-07-25
2017-07-26
2017-07-27
2017-07-28
2017-07-31
2017-08-01
2017-08-02
2017-08-03
2017-08-04
2017-08-07
2017-08-08
2017-08-09
2017-08-10
2017-08-11
2017-08-14
2017-08-15
2017-08-16
2017-08-17
2017-08-18
2017-08-21
2017-08-22
2017-08-23
2017-08-24
2017-08-25
2017-08-28
2017-08-29
2017-08-30
2017-08-31
2017-09-01
2017-09-05
2017-09-06
2017-09-07
2017-09-08
2017-09-11
2017-09-12
2017-09-13
2017-09-14
2017-09-15
2017-09-18
2017-09-19
2017-09-20
2017-09-21
2017-09-22
2017-09-25
2017-09-26
2017-09-27
2017-09-28
2017-09-29
2017-10-02
2017-10-03
2017-10-04
2017-10-05
2017-10-06
2017-10-09
2017-10-10
2017-10-11
2017-10-12
2017-10-13
2017-10-16
2017-10-17
2017-10-18
2017-10-19
2017-10-20
2017-10-23
2017-10-24
2017-10-25
2017-10-26
2017-10-27
2017-10-30
2017-10-31
2017-11-01
2017-11-02
2017-11-03
2017-11-06
2017-11-07
2017-11-08
2017-11-09
2017-11-10
2017-11-13
2017-11-14
2017-11-15
2017-11-16
2017-11-17
2017-11-20
2017-11-21
2017-11-22
2017-11-24
2017-11-27
2017-11-28
2017-11-29
2017-11-30
2017-12-01
2017-12-04
2017-12-05
2017-12-06
2017-12-07
2017-12-08
2017-12-11
2017-12-12
2017-12-13
2017-12-14
2017-12-15
2017-12-18
2017-12-19
2017-12-20
2017-12-21
2017-12-22
2017-12-26
2017-12-27
2017-12-28
2017-12-29
2018-01-02
2018-01-03
2018-01-04
2018-01-05
2018-01-08
2018-01-09
2018-01-10
2018-01-11
2018-01-12
2018-01-16
2018-01-17
2018-01-18
2018-01-19
2018-01-22
2018-01-23
2018-01-24
2018-01-25
2018-01-26
2018-01-29
2018-01-30
2018-01-31
2018-02-01
2018-02-02
2018-02-05
2018-02-06
2018-02-07
2018-02-08
2018-02-09
2018-02-12
2018-02-13
2018-02-14
2018-02-15
2018-02-16
2018-02-20
2018-02-21
2018-02-22
2018-02-23
2018-02-26
2018-02-27
2018-02-28
2018-03-01
2018-03-02
2018-03-05
2018-03-06
2018-03-07
2018-03-08
2018-03-09
2018-03-12
2018-03-13
2018-03-14
2018-03-15
2018-03-16
2018-03-19
2018-03-20
2018-03-21
2018-03-22
2018-03-23
2018-03-26
2018-03-27
2018-03-28
2018-03-29
2018-04-02
2018-04-03
2018-04-04
2018-04-05
2018-04-06
2018-04-09
2018-04-10
2018-04-11
2018-04-12
2018-04-13
2018-04-16
2018-04-17
2018-04-18
2018-04-19
2018-04-20
2018-04-23
2018-04-24
2018-04-25
2018-04-26
2018-04-27
2018-04-30
2018-05-01
2018-05-02
2018-05-03
2018-05-04
2018-05-07
2018-05-08
2018-05-09
2018-05-10
2018-05-11
2018-05-14
2018-05-15
2018-05-16
2018-05-17
2018-05-18
2018-05-21
2018-05-22
2018-05-23
2018-05-24
2018-05-25
2018-05-29
2018-05-30
2018-05-31
2018-06-01
2018-06-04
2018-06-05
2018-06-06
2018-06-07
2018-06-08
2018-06-11
2018-06-12
2018-06-13
2018-06-14
2018-06-15
2018-06-18
2018-06-19
2018-06-20
2018-06-21
2018-06-22
2018-06-25
2018-06-26
2018-06-27
2018-06-28
2018-06-29
2018-07-02
2018-07-03
2018-07-05
2018-07-06
2018-07-09
2018-07-10
2018-07-11
2018-07-12
2018-07-13
2018-07-16
2018-07-17
2018-07-18
2018-07-19
2018-07-20
2018-07-23
2018-07-24
2018-07-25
2018-07-26
2018-07-27
2018-07-30
2018-07-31
2018-08-01
2018-08-02
2018-08-03
2018-08-06
2018-08-07
2018-08-08
2018-08-09
2018-08-10
2018-08-13
2018-08-14
2018-08-15
2018-08-16
2018-08-17
2018-08-20
2018-08-21
2018-08-22
2018-08-23
2018-08-24
2018-08-27
2018-08-28
2018-08-29
2018-08-30
2018-08-31
2018-09-04
2018-09-05
2018-09-06
2018-09-07
2018-09-10
2018-09-11
2018-09-12
2018-09-13
2018-09-14
2018-09-17
2018-09-18
2018-09-19
2018-09-20
2018-09-21
2018-09-24
2018-09-25
2018-09-26
2018-09-27
2018-09-28
2018-10-01
2018-10-02
2018-10-03
2018-10-04
2018-10-05
2018-10-08
2018-10-09
2018-10-10
2018-10-11
2018-10-12
2018-10-15
2018-10-16
2018-10-17
2018-10-18
2018-10-19
2018-10-22
2018-10-23
2018-10-24
2018-10-25
2018-10-26
2018-10-29
2018-10-30
2018-10-31
2018-11-01
2018-11-02
2018-11-05
2018-11-06
2018-11-07
2018-11-08
2018-11-09
2018-11-12
2018-11-13
2018-11-14
2018-11-15
2018-11-16
2018-11-19
2018-11-20
2018-11-21
2018-11-23
2018-11-26
2018-11-27
2018-11-28
2018-11-29
2018-11-30
2018-12-03
2018-12-04
2018-12-06
2018-12-07
2018-12-10
2018-12-11
2018-12-12
2018-12-13
2018-12-14
2018-12-17
2018-12-18
2018-12-19
2018-12-20
2018-12-21
2018-12-24
2018-12-26
2018-12-27
2018-12-28
2018-12-31
2019-01-02
2019-01-03
2019-01-04
2019-01-07
2019-01-08
2019-01-09
2019-01-10
2019-01-11
2019-01-14
2019-01-15
2019-01-16
2019-01-17
2019-01-18
2019-01-22
2019-01-23
2019-01-24
2019-01-25
2019-01-28
2019-01-29
2019-01-30
2019-01-31
2019-02-01
2019-02-04
2019-02-05
2019-02-06
2019-02-07
2019-02-08
2019-02-11
2019-02-12
2019-02-13
2019-02-14
2019-02-15
2019-02-19
2019-02-20
2019-02-21
2019-02-22
2019-02-25
2019-02-26
2019-02-27
2019-02-28
2019-03-01
2019-03-04
2019-03-05
2019-03-06
2019-03-07
2019-03-08
2019-03-11
2019-03-12
2019-03-13
2019-03-14
2019-03-15
2019-03-18
2019-03-19
2019-03-20
2019-03-21
2019-03-22
2019-03-25
2019-03-26
2019-03-27
2019-03-28
2019-03-29
2019-04-01
2019-04-02
2019-04-03
2019-04-04
2019-04-05
2019-04-08
2019-04-09
2019-04-10
2019-04-11
2019-04-12
2019-04-15
2019-04-16
2019-04-17
2019-04-18
2019-04-22
2019-04-23
2019-04-24
2019-04-25
2019-04-26
2019-04-29
2019-04-30
2019-05-01
2019-05-02
2019-05-03
2019-05-06
2019-05-07
2019-05-08
2019-05-09
2019-05-10
2019-05-13
2019-05-14
2019-05-15
2019-05-16
2019-05-17
2019-05-20
2019-05-21
2019-05-22
2019-05-23
2019-05-24
2019-05-28
2019-05-29
2019-05-30
2019-05-31
2019-06-03
2019-06-04
2019-06-05
2019-06-06
2019-06-07
2019-06-10
2019-06-11
2019-06-12
2019-06-13
2019-06-14
2019-06-17
2019-06-18
2019-06-19
2019-06-20
2019-06-21
2019-06-24
2019-06-25
2019-06-26
2019-06-27
2019-06-28
2019-07-01
2019-07-02
2019-07-03
2019-07-05
2019-07-08
2019-07-09
2019-07-10
2019-07-11
2019-07-12
2019-07-15
2019-07-16
2019-07-17
2019-07-18
2019-07-19
2019-07-22
2019-07-23
2019-07-24
2019-07-25
2019-07-26
2019-07-29
2019-07-30
2019-07-31
2019-08-01
2019-08-02
2019-08-05
2019-08-06
2019-08-07
2019-08-08
2019-08-09
2019-08-12
2019-08-13
2019-08-14
2019-08-15
2019-08-16
2019-08-19
2019-08-20
2019-08-21
2019-08-22
2019-08-23
2019-08-26
2019-08-27
2019-08-28
2019-08-29
2019-08-30
2019-09-03
2019-09-04
2019-09-05
2019-09-06
2019-09-09
2019-09-10
2019-09-11
2019-09-12
2019-09-13
2019-09-16
2019-09-17
2019-09-18
2019-09-19
2019-09-20
2019-09-23
2019-09-24
2019-09-25
2019-09-26
2019-09-27
2019-09-30
2019-10-01
2019-10-02
2019-10-03
2019-10-04
2019-10-07
2019-10-08
2019-10-09
2019-10-10
2019-10-11
2019-10-14
2019-10-15
2019-10-16
2019-10-17
2019-10-18
2019-10-21
2019-10-22
2019-10-23
2019-10-24
2019-10-25
2019-10-28
2019-10-29
2019-10-30
2019-10-31
2019-11-01
2019-11-04
2019-11-05
2019-11-06
2019-11-07
2019-11-08
2019-11-11
2019-11-12
2019-11-13
2019-11-14
2019-11-15
2019-11-18
2019-11-19
2019-11-20
2019-11-21
2019-11-22
2019-11-25
2019-11-26
2019-11-27
2019-11-29
2019-12-02
2019-12-03
2019-12-04
2019-12-05
2019-12-06
2019-12-09
2019-12-10
2019-12-11
2019-12-12
2019-12-13
2019-12-16
2019-12-17
2019-12-18
2019-12-19
2019-12-20
2019-12-23
2019-12-24
2019-12-26
2019-12-27
2019-12-30
2019-12-31
2020-01-02
2020-01-03

C:\Users\Keertana\AppData\Local\Temp\ipykernel_19424\3531337345.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df['Datenew']=date

                     Adj Close                                               \
                             A        AAL         AAP       AAPL       ABBV
Date
2017-01-03 00:00:00  44.295280  44.741222  160.039322  27.133331  47.287491
2017-01-04 00:00:00  44.876472  45.127762  161.352631  27.102955  47.954262
2017-01-05 00:00:00  44.342915  44.345032  161.240097  27.240786  48.317951
2017-01-06 00:00:00  45.724468  44.654263  159.129333  27.544470  48.333103
2017-01-09 00:00:00  45.867382  45.494972  159.035538  27.796768  48.651333
2017-01-10 00:00:00  45.829266  46.847832  159.401398  27.824797  48.545261
2017-01-11 00:00:00  46.924976  47.002453  162.694077  27.974306  46.792637
2017-01-12 00:00:00  46.229439  46.480625  163.669754  27.857504  46.899788
2017-01-13 00:00:00  46.391418  46.045784  163.969955  27.808447  47.443176
2017-01-17 00:00:00  46.038891  45.176083  162.290726  28.032709  47.343681

                                                                       ...  \
                    ABC        ABT       ACGL         ACN        ADBE  ...
Date                                                                   ...
2017-01-03 00:00:00 NaN  34.993313  28.629999  105.776184  103.480003  ...
2017-01-04 00:00:00 NaN  35.271118  28.833332  106.030487  104.139999  ...
2017-01-05 00:00:00 NaN  35.575802  28.540001  104.441040  105.910004  ...
2017-01-06 00:00:00 NaN  36.543602  28.823334  105.630859  108.300003  ...
2017-01-09 00:00:00 NaN  36.507759  28.406668  104.450119  108.570000  ...
2017-01-10 00:00:00 NaN  37.000618  28.770000  104.504631  108.260002  ...
2017-01-11 00:00:00 NaN  37.050228  28.786667  105.467369  108.989998  ...
2017-01-12 00:00:00 NaN  36.725544  29.049999  105.158577  108.589996  ...
2017-01-13 00:00:00 NaN  36.914944  29.006666  106.221237  108.529999  ...
2017-01-17 00:00:00 NaN  36.887886  28.916668  105.385635  108.000000  ...

                      Volume                                                \
                         XEL       XOM     XRAY      XYL      YUM      ZBH
Date
2017-01-03 00:00:00  2065100  10360600  1778000  1596700  4793400  1422533
2017-01-04 00:00:00  2542600   9434200   978300  1703000  2835200  1547884
2017-01-05 00:00:00  2611900  14443200  1114500  1846000  4040000  1497517
2017-01-06 00:00:00  1707400  16518100  1169600  1561600  2863800  1875630
2017-01-09 00:00:00  1840100  13762300   950600  1090400  1944200  1198199
2017-01-10 00:00:00  1761300  13283100  1596000  1642500  2560700  4092602
2017-01-11 00:00:00  1870500  11183700  1723700  1974100  1268000  2559550
2017-01-12 00:00:00  2614000  10407000  1951000  1784600  1049900  1593101
2017-01-13 00:00:00  2067900   8415600  1669900  2811300  1557700  1065329
2017-01-17 00:00:00  1898300  13237300  1765400  1228600  1596000  1278642

                                                  Datenew
                       ZBRA     ZION      ZTS
Date
2017-01-03 00:00:00  388200  2896200  3579700  2017-01-03
2017-01-04 00:00:00  463200  1907500  3316300  2017-01-04
2017-01-05 00:00:00  486600  2106000  2469100  2017-01-05
2017-01-06 00:00:00  308300  2149100  2845800  2017-01-06
2017-01-09 00:00:00  263300  2104900  2123300  2017-01-09
2017-01-10 00:00:00  420500  1839600  2087100  2017-01-10
2017-01-11 00:00:00  346100  2102200  3400500  2017-01-11
2017-01-12 00:00:00  456500  2758200  1513600  2017-01-12
2017-01-13 00:00:00  402400  2732500  2458700  2017-01-13
2017-01-17 00:00:00  199500  2889200  2213400  2017-01-17

[10 rows x 3019 columns]

In [50]:
df=df.set_index(pd.DatetimeIndex(df['Datenew'].values))

In [54]:
del df['Datenew']

In [68]:
df.isnull().sum().sum()

75024

In [60]:
assets=df.columns

In [61]:
pip install PyPortfolioOpt

Collecting PyPortfolioOpt
  Downloading pyportfolioopt-1.5.4-py3-none-any.whl (61 kB)
     ---------------------------------------- 61.9/61.9 kB 1.7 MB/s eta 0:00:00
Requirement already satisfied: pandas>=0.19 in c:\users\keertana\appdata\local\programs\python\python39\lib\site-packages (from PyPortfolioOpt) (1.5.0)
Requirement already satisfied: numpy<2.0.0,>=1.22.4 in c:\users\keertana\appdata\local\programs\python\python39\lib\site-packages (from PyPortfolioOpt) (1.23.3)
Collecting cvxpy<2.0.0,>=1.1.10
  Downloading cvxpy-1.3.1-cp39-cp39-win_amd64.whl (889 kB)
     -------------------------------------- 889.5/889.5 kB 1.2 MB/s eta 0:00:00
Requirement already satisfied: scipy<2.0,>=1.3 in c:\users\keertana\appdata\local\programs\python\python39\lib\site-packages (from PyPortfolioOpt) (1.9.1)
Collecting scs>=1.1.6
  Downloading scs-3.2.2-cp39-cp39-win_amd64.whl (8.2 MB)
     ---------------------------------------- 8.2/8.2 MB 280.9 kB/s eta 0:00:00
Collecting ecos>=2
  Downloading ecos-2.0.12-cp39-cp39-win_amd64.whl (72 kB)
     -------------------------------------- 72.0/72.0 kB 232.3 kB/s eta 0:00:00
Collecting setuptools>65.5.1
  Downloading setuptools-67.6.1-py3-none-any.whl (1.1 MB)
     ---------------------------------------- 1.1/1.1 MB 159.1 kB/s eta 0:00:00
Collecting osqp>=0.4.1
  Downloading osqp-0.6.2.post8-cp39-cp39-win_amd64.whl (292 kB)
     ------------------------------------ 292.5/292.5 kB 237.6 kB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\keertana\appdata\local\programs\python\python39\lib\site-packages (from pandas>=0.19->PyPortfolioOpt) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\keertana\appdata\local\programs\python\python39\lib\site-packages (from pandas>=0.19->PyPortfolioOpt) (2023.3)
Collecting qdldl
  Downloading qdldl-0.1.7-cp39-cp39-win_amd64.whl (83 kB)
     -------------------------------------- 83.2/83.2 kB 359.2 kB/s eta 0:00:00
Requirement already satisfied: six>=1.5 in c:\users\keertana\appdata\local\programs\python\python39\lib\site-packages (from python-dateutil>=2.8.1->pandas>=0.19->PyPortfolioOpt) (1.16.0)
Installing collected packages: setuptools, scs, qdldl, ecos, osqp, cvxpy, PyPortfolioOpt
  Attempting uninstall: setuptools
    Found existing installation: setuptools 57.4.0
    Uninstalling setuptools-57.4.0:
      Successfully uninstalled setuptools-57.4.0
Successfully installed PyPortfolioOpt-1.5.4 cvxpy-1.3.1 ecos-2.0.12 osqp-0.6.2.post8 qdldl-0.1.7 scs-3.2.2 setuptools-67.6.1
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution -rotobuf (c:\users\keertana\appdata\local\programs\python\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\keertana\appdata\local\programs\python\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\keertana\appdata\local\programs\python\python39\lib\site-packages)
    WARNING: Ignoring invalid distribution -rotobuf (c:\users\keertana\appdata\local\programs\python\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\keertana\appdata\local\programs\python\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\keertana\appdata\local\programs\python\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\keertana\appdata\local\programs\python\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\keertana\appdata\local\programs\python\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\keertana\appdata\local\programs\python\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\keertana\appdata\local\programs\python\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\keertana\appdata\local\programs\python\python39\lib\site-packages)
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
tensorflow 2.10.0 requires protobuf<3.20,>=3.9.2, but you have protobuf 3.20.3 which is incompatible.
tensorboard 2.10.1 requires protobuf<3.20,>=3.9.2, but you have protobuf 3.20.3 which is incompatible.
WARNING: Ignoring invalid distribution -rotobuf (c:\users\keertana\appdata\local\programs\python\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\keertana\appdata\local\programs\python\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\keertana\appdata\local\programs\python\python39\lib\site-packages)

[notice] A new release of pip available: 22.3 -> 23.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [62]:
from pypfopt.efficient_frontier import EfficientFrontier
from pypfopt import risk_models
from pypfopt import expected_returns

In [63]:
mu=expected_returns.mean_historical_return(df)
S=risk_models.sample_cov(df)

C:\Users\Keertana\AppData\Local\Programs\Python\Python39\lib\site-packages\pypfopt\expected_returns.py:31: UserWarning: Some returns are NaN. Please check your price data.
  warnings.warn(
C:\Users\Keertana\AppData\Local\Programs\Python\Python39\lib\site-packages\pypfopt\expected_returns.py:35: UserWarning: Some returns are infinite. Please check your price data.
  warnings.warn(

In [65]:
#Optimize for the miximal Sharpe ratio
ef = EfficientFrontier(mu, S)
weights = ef.max_sharpe()

cleaned_weights = ef.clean_weights()
print(cleaned_weights)
ef.portfolio_performance(verbose=True)

ValueError: Quadratic form matrices must be symmetric/Hermitian.